@import 'tailwindcss';

@theme {
  /*
    Define default colors for the input component
    */
  --color-background: #fefced;

  /* ttkbootstrap colors */
  --color-primary: #79553d;
  --color-secondary: #848279;
  --color-success: #62773c;
  --color-info: #4d4ba3;
  --color-warning: #f37c2e;
  --color-danger: #d9534f;
  --color-light: #eee6d0;
  --color-dark: #4e3318;
  --color-bg: #fefced;

  /*
    Define custom font sizes
  */
  --font-size-lxl: 1.35rem;
  --font-size-lxl--line-height: 1.8rem;

  /*
    Define default site margins and paddings
  */
  --padding-site: 2.5rem;
  --padding-sitemd: 5rem;

  --margin-site: 2.5rem;
  --margin-sitemd: 5rem;
}

@layer base {
  h1 {
    @apply mt-8 mb-4 text-4xl font-bold;
  }
  h2 {
    @apply mt-6 mb-3 text-3xl font-semibold;
  }
  h3 {
    @apply mt-5 mb-2 text-xl font-medium;
  }
  h4 {
    @apply mt-3 mb-1 text-lg font-medium;
  }
}
